<div>
  <% unless ind.zero?%>
    <h5><%= "after #{ind} hours" %><h5>
  <% end %>
  <ul>
    <% if ind.zero?%>
      <li>current temperature: <%= data[:temp]%></li>
      <li>feels like: <%= data[:feels_like]%></li>
    <% end %>
    <li>Minimum temperature: <%= data[:temp_min] %></li>
    <li>Maximum Temperature: <%= data[:temp_max] %></li>
  </ul>
</div>