<html>
<head>
  <title>Weather info</title>
</head>
<body>
  <h1>Enter Address details</h1>
  <div><%= @address.errors.full_messages.join(',') if @address&.invalid? %> </div>
  <%= form_tag weather_info_path, class: "search-form", data: { turbo:false } do |f| %>
    <label for="street">Street:</label>
    <input type="text" name="address[street]" value="<%= @address&.street %>" id="street">

    <label for="city">City:</label>
    <input type="text" name="address[city]" value="<%= @address&.city %>" id="city">

    <label for="state">State:</label>
    <input type="text" name="address[state]" value="<%= @address&.state %>" id="state">

    <label for="zip_code">Zip Code:</label>
    <input type="text" name="address[zip_code]" value="<%= @address&.zip_code %>" id="zip_code">

    <input type="submit" value="Submit">
  <% end %>

  <% if @cache_hit %>
    <h4>rendering results from cache</h4>
  <% end %>
  <% @weather_forecast&.each_with_index do |data, ind| %>
    <%= render partial: "weather/hourly_info", locals: {data: data, ind: ind}  %>
  <% end %>
</body>
</html>